<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1>demo api</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam dicta officiis eaque incidunt! Omnis odit sint nulla eos, id maiores?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aperiam ea dolorum a recusandae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, repudiandae?</p>
    </div>
   
</body>
</html>